@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: hidden;
  }
}

@layer components{
  .header_top__icon_wrapper{
    @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-accent;
  }

  .navbar__link:hover{
    color: #ff8f9C;
    transition: all 0.4s;
    
  }

  .navbar__link:after{
    position: absolute;
    content: '';
    background-color: #ff8f9c;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar__link:hover::after{
    scale: 1;
  }
}